# Server Settings
PORT=1609

# Pinata IPFS Settings
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key

# Blockchain Settings
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_api_key
CAMPAIGN_FACTORY_ADDRESS=0x9FCc4133983903EdADB61D592450079c2185d750
ADMIN_ADDRESS=0xe9BC90cee5a039B49ded5E3113E0C23D32ef2f06

# Redis Settings (Default for Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# MongoDB Connection String
# For Docker:
MONGODB_URI=mongodb://mongodb:27017/fundchain
# For Local:
# MONGODB_URI=mongodb://localhost:27017/fundchain
